.nav-container {
  height: 8vh;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container > .nav-title {
  font-size: 2.1rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
